 [Desktop Entry]
 Name=Suburban Launcher
 Comment=Plasmoid clone of Rainmeter Urban Links Launcher skin by ApexXx-SenSei
 Icon=start-here-kde
 Type=Service
 X-KDE-ServiceTypes=Plasma/Applet
 X-KDE-PluginInfo-Category=Utilities
 X-KDE-PluginInfo-Name=jacksaur.SuburbanLauncher
 X-KDE-PluginInfo-Author=Jacksaur
 X-KDE-PluginInfo-Version=1.0
 X-KDE-PluginInfo-Website=github.com/jacksaur/suburbanlauncher
 X-Plasma-API=declarativeappletscript
 X-Plasma-MainScript=ui.main.qml

 Type=Service
 X-KDE-PluginInfo-Category=Application Launchers
